{% extends 'common.html' %}

{% block content %}
<style>
    img{
        max-height: 60%;
    }
</style>
<br><br><br><br><br><br><br><br>

    <div class='container my-auto' >    
        <div class='card-group'>
            
            
                <div class='card col-4'>
                    <img src = "{{ MEDIA_URL }}credit.jpg"/>
                    <div class='card-body'>
                        <h5 class='card-title' style="text-align: center;"> CREDIT</h5>
                    </div>
                </div>
            

            
                <div class='card col-4'>
                    <img src = "{{ MEDIA_URL }}transfer.jpg"/>
                    <div class='card-body'>
                            <h5 class='card-title' style="text-align: center;">TRANSFER</h5>
                    </div>
                </div>
            

        
                <div class='card col-4'>
                    <img src = "{{ MEDIA_URL }}debit.png"/>
                    <div class='card-body'>
                            <h5 class='card-title' style="text-align: center;">DEBIT</h5>
                    </div>
                </div>

        </div>

    </div>
   
{% endblock %}