{% extends 'common.html' %}

{% block title %}   Home | Bank {% endblock %}
{% block stylesheet %}
.images{
    background-image : url('{{ MEDIA_URL }}credit.jpg');
}
{% load static %}
<link rel="stylesheet" href="{% static 'home.css'%}">
{% endblock %}
{% block content %}

<br><br><br><br><br><br>
    {% if request.user.is_authenticated %}

    <div class='container my-auto' >    
        <div class='card-group'>
            
            
                <div class='card col-4'>
                    <img src="{{MEDIA_URL}}credit.jpg">
                    <div class='card-body'>
                        <center>
                            <a href="http://localhost:8000/transaction/deposit">
                            <button class="btn btn-primary rounded-pill btn-success">CREDIT</button>
                            </a>
                        </center> 
                    </div>
                </div>
            

            
                
                    <div class='card col-4'>
                    <img src = "{{ MEDIA_URL }}transfer.jpg"/>
                    <div class='card-body'>
                        <center>
                            <a href="http://localhost:8000/transaction/transfer">
                            <button class="btn btn-primary rounded-pill btn-dark">TRANSFER</button>
                            </a>
                        </center>
                    </div>
                </div>
            

        
                <div class='card col-4'>
                    <img src = "{{ MEDIA_URL }}debit.png"/>
                    <div class='card-body '>
                        <center>
                            <a href="http://localhost:8000/transaction/withdraw">
                            <button class="btn btn-primary rounded-pill btn-danger">DEBIT</button>
                            </a>
                        </center>
                    </div>
                </div>

        </div>

    </div>

    {% else %}

    <center><h1>Welcome To The Bank! Login or Register for our Services...</h1><center>

    {% endif %}
   
{% endblock %}