{% extends 'common.html' %}

{% block title %}   Profile | Bank {% endblock %}

{% block content %}
<br><br><br><br><br>

<center><h2>ACCOUNT DETAILS</h2></center>

<br><br>

{% if request.user.is_authenticated %}

    <div style="margin-left: 100px;">

        <p> NAME :  {{ request.user.get_full_name }}    </p>    <br>
        <p> USERNAME :  {{ request.user.get_username }} </p>    <br>
        <p> CUSTOMER ID :   {{ customer.cust_id }}      </p>    <br>
        <p> CURRENT BALANCE :   {{ customer.balance }}  </p>    <br>
        
    </div>

{% else %}

    <center>
        <div class = "alerts">Login To See Profile Details!</div>
    </center>

{% endif %}

{% endblock %}
