{% extends 'common.html' %}

{% block title %}   Transactions | Bank {% endblock %}

{% block content %}

<br><br><br><br><br>

<table class="table">

    <thead class="thead-dark">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">SOURCE / DESTINATION</th>
        <th scope="col">DEBIT / CREDIT</th>
    </tr>

    </thead>

    <tbody>

        {% for t in transactions %}

        <tr>

        <td>{{t.0}}</td>
        <td>{{t.1}}</td>
        {% if t.3 %}
        <td class="text-success">{{ t.2 }}</td>
        {% else %}
        <td class="text-danger">{{ t.2 }}</td>
        {% endif %}
        

        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}
